<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>List Word</title>
<link rel="stylesheet" href="../bootstrap_5/css/bootstrap.min.css">
<link rel="stylesheet" href="../fontawesome-free-6.5.2-web/css/all.min.css">
<link rel="shortcut icon" type="image/png" href="../img/icon.jpg"/>

</head>
<body>
<div class="container border-en">
 <h1>Tổng Số Từ Đã Được Học: <span th:text=" ${wordtotal}"></span></h1>
 <a href="/testluyentu"><button class="btn btn-success">Luyện Từ Mới</button></a>
 <a href="/testtu"><button class="btn btn-primary">Ôn Luyện Từ Đã Được Học</button></a> 
  <a href="/allword"><button class="btn btn-danger">Ôn Luyện Tất Cả Từ Đã Được Học</button></a>
<a href="/hocenglish"><button class="btn btn-warning">Học English</button></a>
<a href="/Irregular"><button class="btn btn-secondary">Irregular Verbs</button></a>
<a href="/alldialogue"><button class="btn btn-warning">List Dialogue</button></a>
<a href="createnewdialogue"><button class="btn btn-warning">Create New Dialogue</button></a>
<div class="container w-50 mt-5 ">
		<form action="/addnewword"
			class="text-center form-control bg-secondary text-white"
			method="post" enctype="multipart/form-data">
			<h1>Create New Word</h1>
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-user"></i></span> <input type="text" name="English"
					class="form-control" placeholder="English" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>
			
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="text" name="dialogue"
					class="form-control" placeholder="Dialogue" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>

			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="text" name="Vietnamese"
					class="form-control" placeholder="Vietnamese" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="text" name="phienam"
					class="form-control" placeholder="Phiên Âm" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="text" name="loaitu"
					class="form-control" placeholder="Loại Từ" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="file" name="file"
					class="form-control" placeholder="Audio" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>

			<button class="btn btn-primary pb-3 mb-5" type="submit">Create
			</button>
			<button class="btn btn-primary pb-3 mb-5" type="reset">Cancel
			</button>

		</form>
	</div>
	
	<table class="table border-end border-start">
		<thead class="table-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">English</th>
				<th scope="col">Dialogue</th>
				<th scope="col">Phiên Âm</th>
				<th scope="col">Vietnamese</th>
				<th scope="col">Loại Từ</th>
				<th scope="col">Âm Thanh</th>
				<th scope="col">Date Add</th>
				<th scope="col">Đã Học</th>
				<th scope="col">Active</th>
			</tr>
		</thead>
		<tbody th:each="item : ${vietnamese}">

			<tr>
				<td th:text="${item.id}"></td>
				<td th:text="${item.english}"></td>
				<td th:text="${item.dialogue}"></td>
				<td th:text="${item.phienam}"></td>
				<td th:text="${item.vietnamese}"></td>
				<td th:text="${item.loaitu}"></td>
				<td><audio controls style="width: 200px; height: 25px">
				<source th:src="@{'../audio/' + ${item.amthanh}}" type="audio/mpeg">
				</audio></td>
				<td th:text="${item.newdate}"></td>
				<td th:text="${item.dahoc}"></td>
				<td>
				<a th:href="@{/editword(id=${item.id})}"><i class="fa-solid fa-check"></i></a> 
				<a th:href="@{/updateword(id=${item.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
				</td>
			</tr>



		</tbody>
	</table>
	</div>
</body>
</html>